
/*--home boxes start--*/

.demo{ background: #e1e1e1; }

.pricingTable{
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px 0 20px;
    padding-top: 10px;
    box-shadow: 0 0 10px -3px rgb(0, 0, 0);
}

.pricingTable .pricingTable-header{
    background: linear-gradient(to right, #F37A21, #F5B259 20px, #F5B259 13px, #F37A21 38px, #F37A21 40%, #F8931F 60%);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 7px;
    margin: 0 20px 20px 0;
    clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 50%, 90% 0);
}
.heading{
    background: linear-gradient(to right, #30A6CC, #84D6EE 12px, #84D6EE 3px, #30A6CC 38px, #30A6CC 40%, #4DB5DC 60%);
    text-transform: uppercase;
    padding: 10px 0 7px;
    margin: 0 20px 20px 0;
    clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 50%, 90% 0);
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    width: 24%;
    display: block;
}
.heading h3{margin-top:0;margin-bottom:0;font-size: 16px;font-weight: bold;}

.pricingTable .title{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    padding-left: 40px;
}

.pricingTable .price-value{
    color: #000;
    padding: 0 15px;
    margin: 0 0 20px;
}

.pricingTable .price-value .amount{
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}

.pricingTable .price-value .duration{
    font-size: 30px;
    font-weight: 300;
    text-transform: lowercase;
}

.pricingTable .pricing-content{
    text-align: left;
    width: 85%;
    padding: 25px 0px;
    margin: 0;
    padding-top:0;
    border-left: none;
    border-right: none;
    list-style: none;
    display: inline-block;
}

.pricingTable .pricing-content li{
    color: #777;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 0 0 0 40px;
    margin: 0 0 12px;
    position: relative;
}

.pricingTable .pricing-content li:last-child{ margin-bottom: 0; }

.pricingTable .pricing-content li:before{
    content: "\f00c";
    color: #fff;
    background: #F89923;
    font-family: "FontAwesome";
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    line-height: 24px;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    position: absolute;
    top: 1px;
    left: 0;
}

.pricingTable .pricing-content li.disable:before{
    content: "\f00d";
    background: #ED1925;
}

.pricingTable .pricingTable-signup a{
    color: #fff;
    background: linear-gradient(#FAAF3C, #F89923);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    width: 200px;
    padding: 6px 6px 5px;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.pricingTable .pricingTable-signup a:hover{
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
}

.pricingTable.green .pricingTable-header{
    background: linear-gradient(to right, #8DC53C, #E1E530 20px, #E1E530 13px, #8DC53C 38px, #8DC53C 40%, #9BBF3B 60%);
}
.pricingTable.green .pricingTable-signup a{ background: linear-gradient(#72BC4B, #54A445); }
.pricingTable.green .pricing-content li:before{ background: #54A445; }

.pricingTable.blue .pricingTable-header{
    background: linear-gradient(to right, #30A6CC, #84D6EE 20px, #84D6EE 13px, #30A6CC 38px, #30A6CC 40%, #4DB5DC 60%);
}
.pricingTable.blue .pricingTable-signup a{ background: linear-gradient(#41B1D9, #1098CC); }
.pricingTable.blue .pricing-content li:before{ background: #1098CC; }

.pricingTable .pricing-content li.disable:before{ background: #ED1925; }

@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 40px; }
}

/*-- home boxes end --*/


body
{
    background: url(../images/bg_pattern.jpg) repeat !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.menurow
{min-height: 36px;margin: 0;margin-top: 0px;border-bottom: 1px solid #fff;
 background: linear-gradient(to right, #30A6CC, #30A6CC 38px, #30A6CC 40%, #4DB5DC 60%);

}
.activity-block.success {
    background: #2dc1c9;
    background: -moz-linear-gradient(left, #2dc1c9 0%, #2194c1 30%, #252d47 100%);
    background: -webkit-linear-gradient(left, #2dc1c9 0%, #2194c1 30%, #29b4c6 100%);
    background: linear-gradient(to right, #2dc1c9 0%, #2194c1 30%, #2bbac8 100%);
    color: gray;
}

.activity-block.success .media, .activity-block.danger .media, .activity-block.warning .media, .activity-block.primary .media {
    position: relative;
    z-index: 1;
}
.activity-block.success * {
    color: #ffffff !important;
}

.activity-block.success * {
    color: #ffffff !important;
}
.media-body {
    font-size: 13px;
}

.activity-block .progress {
    left: 1px;
    bottom: -18px;
    box-shadow: none;
}
.activity-block.success * {
    color: #ffffff !important;
}
.activity-block .progress {
    width: 100%;
    background: transparent;
    left: 0;
    bottom: -15px;
    position: relative;
    overflow: visible;
    margin-top: 5px;
    z-index: 3;
}
.progress {
    margin-bottom: 0;
}
.boxedrow
{
    margin:0px;
}
.boxnew
{
    background: #2dc1c9;
    background: -moz-linear-gradient(left, #2dc1c9 0%, #2194c1 30%, #252d47 100%);
    background: -webkit-linear-gradient(left, #2dc1c9 0%, #2194c1 30%, #29b4c6 100%);
    background: linear-gradient(to right, #2dc1c9 0%, #2194c1 30%, #2bbac8 100%);
    min-height: 140px;
    margin-top: 15px;
    box-shadow: 0px 1px 2px #717171;
    padding: 13px;
    margin-bottom: 4px;
    padding-bottom: 2px;
}

.bgicon
{font-size: 90px;position: absolute;color: #fff;opacity: 0.2;left: 40%;margin-top: 0%;width: 59px;}
.value
{font-size: 27px;color: #fff;}
.name
{color: #fff;font-size: 14px;}
.valuediv
{
    text-align:left;
}
.valuediv2
{
    text-align:right;
}
.totalvalue
{float: left;color: #fff;font-size: 15px;vertical-align: middle;margin-top: 0px;width: 100%;text-align: center;}
.totalvalue label
{font-size: 25px;vertical-align: middle;float: left;width: 100%;}

.activity-block .progress {
    left: 1px;
    bottom: -18px;
    box-shadow: none;
}
.activity-block.success * {
    color: #ffffff !important;
}
.activity-block .progress {
    width: 100%;
    background: transparent;
    left: 2px;
    bottom: -21px;
    position: relative;
    overflow: visible;
    margin-top: 0px;
    z-index: 3;
}
.activity-block.success .progress-bar {
    background: #51d1d8;
}
.activity-block .progress .progress-bar {
    height: 4px;
}
.activity-block .progress .progress-bar .trackerball {
    height: 8px;
    width: 8px;
    float: right;
    position: relative;
    top: -2px;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 6px 0px white;
    -moz-box-shadow: 0 0px 6px 0px white;
    -ms-box-shadow: 0 0px 6px 0px white;
    box-shadow: 0 0px 6px 0px white;
}
.bar1 {
    background: #1adef3;
}
.boxnew
{
    cursor:pointer;
}
.boxnew2
{
    background: #e47c64;
    background: -moz-linear-gradient(left, #e47c64 0%, #e36481 30%, #252d47 100%);
    background: -webkit-linear-gradient(left, #e47c64 0%, #e36481 30%, #e37172 100%);
    background: linear-gradient(to right, #e47c64 0%, #e36481 30%, #e37769 100%);
}

.boxnew3
{
    background: #ffba00;
    background: -moz-linear-gradient(left, #ffba00 0%, #fc9244 30%, #252d47 100%);
    background: -webkit-linear-gradient(left, #ffba00 0%, #fc9244 30%, #ffaf14 100%);
    background: linear-gradient(to right, #ffba00 0%, #fc9244 30%, #feb20d 100%);
}

.boxnew4
{
    background: #7a79fe;
    background: -moz-linear-gradient(left, #7a79fe 0%, #a758f5 30%, #252d47 100%);
    background: -webkit-linear-gradient(left, #7a79fe 0%, #a758f5 30%, #8571fc 100%);
    background: linear-gradient(to right, #7a79fe 0%, #a758f5 30%, #8273fd 100%);
}

.bar2
{
    background: #eca18f;
}

.bar3
{
    background: #ffc833;
}

.bar4
{
    background: #acacfe;
}

.boxedrow2  .boxnew
{
    background: #ffffff !important;
}
.boxedrow2  .boxnew1 .value {


    color: #28b0c6;
}
.boxedrow2 .boxnew1  .name {
    color: #000;

}
.boxedrow2 .boxnew1   img
{
    float: right;
    background: #17bdce;
    border-radius: 10px;
    opacity: 0.1;
}
.boxedrow2 .boxnew1 .totalvalue {

    color: #28b0c6;
}
.boxedrow2 .boxnew1 .bgicon {

    color: #dadada;
}








.boxedrow2  .boxnew2 .value {

    color: #e3697b;
}
.boxedrow2 .boxnew2  .name {
    color: #000;

}
.boxedrow2 .boxnew2   img
{
    float: right;
    background: #e3697b;
    border-radius: 10px;
    opacity: 0.1;
}
.boxedrow2 .boxnew2 .totalvalue {

    color: #e3697b;
}
.boxedrow2 .boxnew2 .bgicon {

    color: #dadada;
}




.boxedrow2  .boxnew3 .value {

    color: #fd9f2f;
}
.boxedrow2 .boxnew3  .name {
    color: #000;

}
.boxedrow2 .boxnew3   img
{
    float: right;
    background: #fd9f2f;
    border-radius: 10px;
    opacity: 0.1;
}
.boxedrow2 .boxnew3 .totalvalue {

    color: #fd9f2f;
}
.boxedrow2 .boxnew3 .bgicon {

    color: #dadada;
}


.boxedrow2  .boxnew4 .value {

    color: #9d5ff7;
}
.boxedrow2 .boxnew4  .name {
    color: #000;

}
.boxedrow2 .boxnew4   img
{
    float: right;
    background: #9d5ff7;
    border-radius: 10px;
    opacity: 0.1;
}
.boxedrow2 .boxnew4 .totalvalue {

    color: #9d5ff7;
}
.boxedrow2 .boxnew4 .bgicon {

    color: #dadada;
}

.footerrow
{
    margin: 0;
    background: #080524;
    padding-top: 9px;
    padding-bottom: 5px;
    color: #fff;
    float: left;
    width: 100%;
    border-top: 1px solid #000000;
}

.maindodycnt
{
    min-height: 460px;
    background: #fbf9f9;
    box-shadow: 0px 0px 2px #717171;
    MARGIN-TOP: 5PX;
    MARGIN-BOTTOM: 20PX;
    padding: 15px;
    /* background: url(../images/bg_pattern.jpg) repeat !important; */
}
.mainbodyrow
{
    margin:0px;
}

.container
{
    width:1250px;
}

@media (max-width:1270px)
{
    .container
    {
        width:95%;
    }
}
@media (max-width:991px)
{
    .container
    {
        width:100%;
    }
}
.presentpage
{margin-top: 10px;color: #fff;}
.presentpage a
{color: #fff;}
.mainheading
{float: left;width: 100%;margin-bottom: -5px;}
.mainheading h2
{margin: 0;font-size: 20px;color: #004590;text-transform: uppercase;float: left;width: 100%;}
.mainheading span
{float: left;width: 77px;height: 2px;background: #216cbd;margin-top: 5px;margin-bottom: 10px;}
.labelname
{font-weight: 500;}
.inputbox
{border-radius: 0;
 margin-bottom: 12px;
 border: 1px solid #4db5dc;
 box-shadow: none;
 background: linear-gradient(#EDF7FF, #DCECF9);
 border-top-right-radius: 15px;
 border-bottom-right-radius: 15px;}
.btndiv button
{
    text-transform:uppercase;
}
.btndiv
{
    text-align:center;
    margin-top:10px;
}
.toplinksrow
{
    margin:0px;
    min-height: 27px;
    background: #fff;
    border-bottom: 1px solid #e4e2e2;
}
.toplinksline
{
}

.fontlinks a {
    background: #02af00;
    padding: 2px;
    float: left;
    margin-right: 9px;
    width: 23px;
    height: 23px;
    text-align: center;
    margin-top: 6px;
    color: #fff;
    border-radius: 50%;
    font-size: 13px;
    margin-bottom: 4px;
}
.lawyer-right-section {
    float: right;
}
.toplinks {
    float: left;
    font-size: 11px;
    color: #000;
    margin-top: 12px;
}

.toplinks a {
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}
.lawyer-search {
    float: right;
    width: 165px;
    margin: 6px 11px 0px 30px;
    position: relative;
}
.lawyer-search i {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 15px;
    color: #017100;
}
.lawyer-search input[type="text"] {
    float: left;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    color: #017100;
    padding: 0px 8px;
    height: 25px;
    border-radius: 2px;
    margin-bottom: 6px;
    border: 1px solid #017100;
}
.lawyer-search input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    color: #017100;
}
.body-wrap {
    min-height: 700px;
}

.body-wrap {
    position: relative;
    z-index: 0;
}

.body-wrap:before,
.body-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 260px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 49, 95, 1)), color-stop(100%, rgba(26, 49, 95, 0)));
    background: linear-gradient(to bottom, rgba(26, 49, 95, 1) 0%, rgba(26, 49, 95, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a315f', endColorstr='#001a315f', GradientType=0);
}

.body-wrap:after {
    top: auto;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(26, 49, 95, 0) 0%, rgba(26, 49, 95, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001a315f', endColorstr='#1a315f', GradientType=0);
}

nav {
    margin-top: 0;
    box-shadow: none;
}
.navbar {
    position: relative;
    min-height: 0px !important;
    margin-bottom: 0;
    border: 0px solid transparent;
}
.navbar-inverse {
    background: linear-gradient(to right, #30A6CC, #30A6CC 38px, #30A6CC 40%, #4DB5DC 60%);
    border-color: #30A6CC;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0085b7;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0085b7;
}
.dropdown-menu
{
    padding:0px;
    background-color: #0085b7;
}
.dropdown-menu > li > a {
    display: block;
    padding: 6px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    border-bottom: 1px solid #fff;
}

.nav > li > a {

    padding: 10px 28px !important;

    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {

    background-color: #216cbd;

    border-color: #1e2ab7;
}
.pagination > li > a, .pagination > li > span {

    color: #106151;

}
thead
{
    background: #4db5dc;
}
th
{
    color:#fff;
    text-align:center;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after, table.dataTable thead .sorting:after
{
    opacity: 1 !important;
}





.label
{
    color: #000;
    font-weight: 500;
    font-size: 15px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    width: 100%;
    text-align: left;
}
.stepwizard-step p {
    margin-top: 0px;
    color: #000 !IMPORTANT;
    FONT-SIZE: 20PX;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    /* BACKGROUND: #fbfbfb; */
    /* PADDING: 3PX 0; */
    /* MARGIN-BOTTOM: 15PX; */
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.panel
{
    border:0px;
}
.innermainheading  .subheading

{
    color: #ff9800 !important;
    font-size:17px !important;
}
.panel-body {
    padding: 0;
}
.WIZARDDIV
{
    BACKGROUND: #fbfbfb;
    PADDING: 12PX;
    MARGIN-BOTTOM: 19PX;
    PADDING-TOP: 19PX;
    BORDER: 1PX SOLID #DDD;
}

.alterrow1 {
    background: none repeat scroll 0% 0% #EAEAEA;
    font-size: 13px;
    color: #565555;
    font-weight: 600;
    width: 100%;
    border-top: 2px solid #FFF;
}

.alterrow2 {
    background: none repeat scroll 0% 0% #e2ffe1;
    font-size: 13px;
    color: #565555;
    font-weight: 600;
    width: 100%;
    border-top: 2px solid #FFF;
}

.table>tbody>tr>td {
    padding: 6px !important;
    font-size: 13px;
    vertical-align: middle;
}

.img_footer
{
    width: 100px;
    background: #fff;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.top_line{background: #216cbd;height: 3px;}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus

{
    background-color: #1e2ab7;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.topheader
{
     background: url(../img/head.jpg) !important; 
    background-color: #ffffff;
}


.side-box2 {
    min-height: 294px;
    position: relative;
    border: 1px solid #f1f1f1;
    padding: 18px 15px;
    background: url(../images/bg1.jpg);
    background-size: cover;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    overflow: hidden;
}

.how2 {
    height: 50px;
    border: 1px solid #e6e6e6;
    padding: 0 18px;
    position: relative;
}

.how2-cl4::before {
    background-color: #333;
}
.how2::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
}
.f1-m-2 {
    font-family: Roboto-Medium;
    font-size: 21px;
    line-height: 1.333333;
}
.cl3 {
    color: #fff;
}
.tab01-title {
    padding-right: 25px;
    margin: 10px 0px !important;
}

ul.services-list {
    margin-top: 11px;
    padding: 0px;
}

ul.services-list li {
    float: left;
    width: 100%;
    background: #fefefe;
    cursor: pointer;
    margin-bottom: 17px;
    z-index: 9999;
    color: #000;
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
}
ul.services-list li:before {
    content: '\f03a ';
    font-family: FontAwesome;
    float: left;
    padding: 10px;
    background: #216cbd;
    color: #fff;
    margin-right: 12px;
    margin-top: 0px;
}
ul.services-list li a {
    color: #000;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Roboto-Medium;
    text-transform: uppercase;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff !important;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #efefef !important;
}

.h3_background
{
    font-weight: bold;
    color: #ff7600;
    /*border-left: 5px solid #30a6cc;*/
    padding-left: 10px;
    font-size: 25px;
}